@import "tailwindcss";

@theme {
  --color-brand-black: #030303;
  --color-deep-void: #010101; 

  --color-neon-green: #00ff41;
  --color-neon-red: #ff3333;
  --color-neon-blue: #00f3ff;
  --color-holo-purple: #bd00ff;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-mono: "Menlo", "Consolas", "Monaco", monospace;

  --ease-fluid: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-cinematic: cubic-bezier(0.6, 0.05, 0.01, 1);
}

:root {
  --background: #030303;
  --foreground: #f0f0f0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.text-cinematic {
  letter-spacing: -0.04em;
  line-height: 0.85;
}

.text-widest-cinematic {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}