@import "tailwindcss";

@theme {
  --color-brand-black: #050505;

  --color-neon-green: #00ff41;
  --color-neon-red: #ff0040;
  --color-neon-blue: #00f0ff;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-mono: "Menlo", "Consolas", "Monaco", monospace;

  --ease-fluid: cubic-bezier(0.19, 1, 0.22, 1);
}

:root {
  --background: #050505;
  --foreground: #e1e1e1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: 0.02em;
}